<div class="jumbotron" style="padding-top: 3px;padding-bottom: 20px;text-align: center">
  <h3 style="color: red">why AngularJS</h3>
  <p>6 reasons why AngularJS should be used for development</p>

</div>
<div style="border:2px solid teal;border-radius: 7px">

  <ul>
    <li>
      <p>
        AngularJS used to be the “golden child” among JavaScript frameworks, as it was initially introduced by Google corporation
        in 2012. It was built with the Model-View-Controller concept in mind, though authors of the framework often called
        it “Model-View-*” or even “Model-View-Whatever”.
      </p>
    </li>
    <li>
      <p>
        The framework, written in pure JavaScript, was intended to decouple an application’s logic from DOM manipulation, and aimed
        at dynamic page updates. Still, it wasn’t very intrusive: you could have only a part of the page controlled by AngularJS.
        This framework introduced many powerful features allowing the developer to create rich, single-page applications
        quite easily.
      </p>
    </li>
  </ul>
</div>
<div style="padding-top: 10px">

</div>

  <div class="jumbotron" style="padding-top: 3px;padding-bottom: 20px;text-align: center">
    <h3 style="color: red">Key Features</h3>
    <p>
      Brings JavaScript into HTML Works with the real DOM Client-side rendering
    </p>
    <p>
      Two-way data binding
    </p>
    <p>
      Manages dependencies automatically
    </p>
    <p>
      Best for SPAs that update single view at a time
    </p>
  </div>

  <div class="jumbotron" style="padding-top: 3px;padding-bottom: 20px;text-align: center">
      <h3 style="color: red">Useful Material for angular </h3>
      <p>
        <a href="https://angular.io/tutorial">Angular-Io</a>
      </p>
      <p>
          <a href="https://www.tutorialspoint.com/angular4/index.htm">Tutorial Point</a>
      </p>
      <p>
          <a href="https://programmingwithmosh.com/angular/angular-4-tutorial/">Mosh Hamedani Blog</a>
      </p>
      <p>
          <a href="https://dzone.com/articles/building-angular5-application-step-by-step">Dzone Article</a>
      </p>
    </div>



